Source: python-hivemind
Section: unknown
Priority: optional
Maintainer: Russell Sim <russell.sim@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.6), python-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/NeCTAR-RC/hivemind

Package: python-hivemind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: A tool to automate messing with systems.
 hivemind, A tool to automate messing with systems.